<h1 align="center">Cleaning IMDB Dataset</h1>

<h2 align="center">Parker Glas</h2>

### Data used is a secondary dataset from Kaggle.com -> 
https://www.kaggle.com/datasets/hetbabariya/imdb-movies-data-collection-5000-records

### Objective: 
Clean movie data by transforming NA values to functional data points, making the dataset suitable for analysis.

In [5]:
import pandas as pd

### Import Data

In [7]:
data = pd.read_csv("IMDB-Movies-Dataset.csv")
df = data.copy()
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

### Check For NA Values

In [9]:
df.isna().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

### Check Data Types

In [11]:
df.dtypes

Unnamed: 0             int64
Title                 object
Average Rating       float64
Director              object
Writer                object
Metascore            float64
Cast                  object
Release Date          object
Country of Origin     object
Languages             object
Budget                object
Worldwide Gross       object
Runtime               object
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

## Cleaning

In [14]:
df.shape

(4989, 13)

In [15]:
df.columns

Index(['Unnamed: 0', 'Title', 'Average Rating', 'Director', 'Writer',
       'Metascore', 'Cast', 'Release Date', 'Country of Origin', 'Languages',
       'Budget', 'Worldwide Gross', 'Runtime'],
      dtype='object')

### Dropping Unnamed: 0, Cast, and Budget Columns

In [17]:
df.drop(columns=["Unnamed: 0", "Cast", "Budget"], inplace=True)

In [18]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"October 14, 1994 (India)",United States,English,"$29,332,133",2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"November 8, 2024 (Japan)",Japan,Japanese,"$3,513,659",2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,1978 (India),United States,"English, Italian, Latin","$250,342,198",2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"April 1, 1975 (Turkey)",Turkey,Turkish,NaN,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"September 25, 2001 (India)","India, Japan",English,NaN,2 hours 15 minutes

In [19]:
df.dtypes

Title                 object
Average Rating       float64
Director              object
Writer                object
Metascore            float64
Release Date          object
Country of Origin     object
Languages             object
Worldwide Gross       object
Runtime               object
dtype: object

### Metascore

In [21]:
meta_medians = df["Metascore"].groupby(df["Average Rating"]).median().round()
meta_medians

Average Rating
7.2     69.0
7.3     72.0
7.4     75.0
7.5     74.0
7.6     76.0
7.7     77.0
7.8     78.0
7.9     82.0
8.0     82.0
8.1     85.0
8.2     80.0
8.3     88.0
8.4     83.0
8.5     85.0
8.6     86.0
8.7     84.0
8.8     82.0
8.9     92.0
9.0     94.0
9.1      NaN
9.2    100.0
9.3     82.0
Name: Metascore, dtype: float64

Filling 9.1

In [23]:
fill_value = meta_medians.iloc[-5:].mean().round()
meta_medians.loc[9.1] = fill_value

In [24]:
meta_medians

Average Rating
7.2     69.0
7.3     72.0
7.4     75.0
7.5     74.0
7.6     76.0
7.7     77.0
7.8     78.0
7.9     82.0
8.0     82.0
8.1     85.0
8.2     80.0
8.3     88.0
8.4     83.0
8.5     85.0
8.6     86.0
8.7     84.0
8.8     82.0
8.9     92.0
9.0     94.0
9.1     92.0
9.2    100.0
9.3     82.0
Name: Metascore, dtype: float64

#### Fill Corresponding NA Values

In [26]:
df["Metascore"] = df.apply(lambda row : meta_medians[row["Average Rating"]] if pd.isna(row["Metascore"]) else row["Metascore"], axis=1)

In [27]:
df["Metascore"]

0        82.0
1        82.0
2       100.0
3       100.0
4       100.0
        ...
4984     69.0
4985     69.0
4986     69.0
4987     69.0
4988     69.0
Name: Metascore, Length: 4989, dtype: float64

In [28]:
df["Metascore"].isna().sum()

0

Metascore missing values have now been filled with the median meta scores of the movie's corresponding movie rating. Movie ratings have no missing values and should be a good indicator of the meta score for a movie, making it a good option for filling NA values. I believe that this is far better than removing the values or simply computing the average or median of the entire column and filling the NA values using that method.

### Missing Writer

In [31]:
df[pd.isna(df["Writer"])]

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
1841,Titicut Follies,7.7,Frederick Wiseman,NaN,77.0,"September 4, 1992 (Australia)",United States,English,NaN,1 hour 24 minutes

Upon research, it appears that while there isn't a specific source that proclaims Frederick Wiseman as the writer, it seems he is the lead individual and can be regarded as the writer. IMDB Titicut Follies Full Cast & Crew: https://www.imdb.com/title/tt0062374/fullcredits/?ref_=tt_ov_ql_1

In [33]:
df.loc[1841, "Writer"] = "Frederick Wiseman"

In [34]:
df.iloc[1841, :]

Title                              Titicut Follies
Average Rating                                 7.7
Director                         Frederick Wiseman
Writer                           Frederick Wiseman
Metascore                                     77.0
Release Date         September 4, 1992 (Australia)
Country of Origin                    United States
Languages                                  English
Worldwide Gross                                NaN
Runtime                          1 hour 24 minutes
Name: 1841, dtype: object

In [35]:
df["Writer"].isna().sum()

0

### Standarize Release Date

In [37]:
df.columns

Index(['Title', 'Average Rating', 'Director', 'Writer', 'Metascore',
       'Release Date', 'Country of Origin', 'Languages', 'Worldwide Gross',
       'Runtime'],
      dtype='object')

In [38]:
df["Release Date"]

0             October 14, 1994 (India)
1             November 8, 2024 (Japan)
2                         1978 (India)
3               April 1, 1975 (Turkey)
4           September 25, 2001 (India)
                     ...
4984        September 29, 2000 (Spain)
4985    March 16, 1945 (United States)
4986            April 11, 2009 (Japan)
4987           April 24, 2013 (France)
4988      March 31, 2001 (South Korea)
Name: Release Date, Length: 4989, dtype: object

In [39]:
df["Release Date"] = df["Release Date"].str.replace("[A-Za-z(),]", "", regex=True).str.strip()
df["Release Date"]

0       14 1994
1        8 2024
2          1978
3        1 1975
4       25 2001
         ...
4984    29 2000
4985    16 1945
4986    11 2009
4987    24 2013
4988    31 2001
Name: Release Date, Length: 4989, dtype: object

In [40]:
df["Release Date"] = df["Release Date"].str.split(" ").str[-1]
df["Release Date"]

0       1994
1       2024
2       1978
3       1975
4       2001
        ...
4984    2000
4985    1945
4986    2009
4987    2013
4988    2001
Name: Release Date, Length: 4989, dtype: object

In [41]:
df["Release Date"].unique()

array(['1994', '2024', '1978', '1975', '2001', '2021', '1957', '2008',
       '1993', '1979', '2004', '1991', '2016', '2002', '1976', '2018',
       '1989', '2010', '1999', '2014', '2023', '1969', '2003', '2011',
       '1961', '1987', '1982', '2022', '2009', '2019', '1977', '1980',
       '2006', '1984', '2020', '1985', '1992', '1995', '1947', '2000',
       '2007', '1954', '1962', '2005', '1997', '1998', '1972', '2015',
       '1973', '1988', '1996', '2013', '1986', '2012', '1943', '1936',
       '1931', '1964', '1960', '1959', '1990', '2017', '1981', '1950',
       '1958', '1941', '1963', '1965', '1983', '1944', '1927', '1952',
       '1966', '1948', '1929', '1970', '1946', '1974', '1967', '1971',
       '1951', '1956', '1955', '1924', '1949', '1937', '1932', '1940',
       '1934', '1953', '1939', '1928', '1942', '1925', '1926', '1923',
       '1968', '1920', '1945', '1921', '1938', '1922', '1935', '1930',
       '1933', '1916', '1915', '1919'], dtype=object)

In [42]:
df["Release Date"] = df["Release Date"].astype(int)

In [43]:
df["Release Date"].unique()

array([1994, 2024, 1978, 1975, 2001, 2021, 1957, 2008, 1993, 1979, 2004,
       1991, 2016, 2002, 1976, 2018, 1989, 2010, 1999, 2014, 2023, 1969,
       2003, 2011, 1961, 1987, 1982, 2022, 2009, 2019, 1977, 1980, 2006,
       1984, 2020, 1985, 1992, 1995, 1947, 2000, 2007, 1954, 1962, 2005,
       1997, 1998, 1972, 2015, 1973, 1988, 1996, 2013, 1986, 2012, 1943,
       1936, 1931, 1964, 1960, 1959, 1990, 2017, 1981, 1950, 1958, 1941,
       1963, 1965, 1983, 1944, 1927, 1952, 1966, 1948, 1929, 1970, 1946,
       1974, 1967, 1971, 1951, 1956, 1955, 1924, 1949, 1937, 1932, 1940,
       1934, 1953, 1939, 1928, 1942, 1925, 1926, 1923, 1968, 1920, 1945,
       1921, 1938, 1922, 1935, 1930, 1933, 1916, 1915, 1919])

In [44]:
df["Release Date"].dtype

dtype('int32')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              4989 non-null   object
 1   Average Rating     4989 non-null   float64
 2   Director           4989 non-null   object
 3   Writer             4989 non-null   object
 4   Metascore          4989 non-null   float64
 5   Release Date       4989 non-null   int32
 6   Country of Origin  4986 non-null   object
 7   Languages          4968 non-null   object
 8   Worldwide Gross    3895 non-null   object
 9   Runtime            4989 non-null   object
dtypes: float64(2), int32(1), object(7)
memory usage: 370.4+ KB

In [46]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,1994,United States,English,"$29,332,133",2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",82.0,2024,Japan,Japanese,"$3,513,659",2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,1978,United States,"English, Italian, Latin","$250,342,198",2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",100.0,1975,Turkey,Turkish,NaN,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",100.0,2001,"India, Japan",English,NaN,2 hours 15 minutes

In [47]:
df.isna().sum()

Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore               0
Release Date            0
Country of Origin       3
Languages              21
Worldwide Gross      1094
Runtime                 0
dtype: int64

The release date has been converted to a universal integer value for enhanced analysis capabilities in the future.

### Country of Origin

In [50]:
df[pd.isna(df["Country of Origin"])]

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
1129,Black Hawk Down,7.9,Chris Mills,"Mike Goodale, Shawn Nelson, Dale Sizemore",82.0,1997,NaN,NaN,NaN,57 minutes
1241,BTS Permission to Dance on Stage - Seoul: Live...,7.9,Ha Jung Jae,BTS,82.0,2022,NaN,NaN,"$32,600,000",3 hours 15 minutes
1893,Operation Odessa,7.7,Tiller Russell,"Ludwig Fainberg, Juan Almeida, Nelson Yester",77.0,2018,NaN,NaN,NaN,1 hour 32 minutes

In [51]:
df["Country of Origin"].nunique()

812

I feel this goes against the general ideals of data cleaning, but I will drop these 3 movies from the dataset. It's only 3 out of almost 5000, and I'm unable to gather information to fill in the country of origin. I feel this is the best option for this specific case.

In [53]:
df.drop([1129, 1241, 1893], inplace=True)

In [54]:
df.shape

(4986, 10)

In [55]:
df.isna().sum()

Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore               0
Release Date            0
Country of Origin       0
Languages              18
Worldwide Gross      1092
Runtime                 0
dtype: int64

### Languages

In [57]:
missing_languages = df[pd.isna(df["Languages"])]
missing_languages

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
132,Baraka,8.5,Ron Fricke,"Ron Fricke, Mark Magidson, Genevieve Nicholas",85.0,1993,United States,NaN,"$1,346,497",1 hour 36 minutes
187,Samsara,8.4,Ron Fricke,"Ron Fricke, Mark Magidson",65.0,2012,"United States, Indonesia, Singapore, Thailand,...",NaN,"$4,426,444",1 hour 42 minutes
269,Man with a Movie Camera,8.3,Dziga Vertov,Dziga Vertov,96.0,1929,Soviet Union,NaN,"$3,959",1 hour 8 minutes
391,Napoléon vu par Abel Gance,8.2,Abel Gance,Abel Gance,80.0,1927,France,NaN,"$39,448",5 hours 30 minutes
431,Disclosure,8.2,Sam Feder,"Laverne Cox, Bianca Leigh, Jen Richards",79.0,2020,United States,NaN,NaN,1 hour 48 minutes
597,The General,8.1,"Clyde Bruckman, Buster Keaton","Buster Keaton, Clyde Bruckman, Al Boasberg",85.0,1927,United States,NaN,$612,1 hour 18 minutes
654,Valley Uprising,8.1,"Peter Mortimer, Nick Rosen, Josh Lowell","Peter Mortimer, Nick Rosen",85.0,2014,United States,NaN,NaN,1 hour 43 minutes
656,The Crowd,8.1,King Vidor,"King Vidor, John V.A. Weaver, Joseph Farnham",85.0,1928,United States,NaN,NaN,1 hour 38 minutes
899,The Last Laugh,8.0,F.W. Murnau,Carl Mayer,82.0,1925,Germany,NaN,NaN,1 hour 28 minutes
931,The Naked Island,8.0,Kaneto Shindô,Kaneto Shindô,82.0,1960,Japan,NaN,"$14,673",1 hour 36 minutes
1173,Love on a Leash,7.9,Fen Tian,Fen Tian,82.0,2011,United States,NaN,NaN,1 hour 30 minutes
1525,Die Abenteuer des Prinzen Achmed,7.8,"Lotte Reiniger, Carl Koch",Lotte Reiniger,78.0,1928,Germany,NaN,"$100,156",1 hour 20 minutes
2110,Robot Dreams,7.6,Pablo Berger,"Pablo Berger, Sara Varon",87.0,2023,"Spain, France",NaN,"$4,671,576",1 hour 43 minutes
2401,Strike,7.6,Sergei Eisenstein,"Grigoriy Aleksandrov, Sergei Eisenstein, Ilya ...",76.0,1925,Soviet Union,NaN,NaN,1 hour 22 minutes
2786,La tortue rouge,7.5,Michael Dudok de Wit,"Michael Dudok de Wit, Pascale Ferran",86.0,2016,"France, Belgium, Japan, United States",NaN,"$6,613,503",1 hour 20 minutes
3039,Feels Good Man,7.5,Arthur Jones,"Giorgio Angelini, Matt Furie, Arthur Jones",79.0,2020,United States,NaN,NaN,1 hour 32 minutes
3645,Oktyabr,7.4,"Grigoriy Aleksandrov, Sergei Eisenstein","Sergei Eisenstein, Grigoriy Aleksandrov, John ...",75.0,1928,Soviet Union,NaN,NaN,2 hours 22 minutes
4046,The Lodger: A Story of the London Fog,7.3,Alfred Hitchcock,"Marie Belloc Lowndes, Eliot Stannard, Alfred H...",72.0,1927,United Kingdom,NaN,"$83,568",1 hour 32 minutes

The plan is to replace the missing language with the official language of the top country in the country of origin column. This allows for a good chance at correct implementation, which I believe is a better alternative to deletion from the dataset. I also know these movies are considered NaN because they don't have any dialogue, but I feel that assigning a language is better than creating some kind of new filler value.

In [59]:
missing_languages.loc[:, "Country of Origin"] = missing_languages["Country of Origin"].str.strip().str.replace(",", " ").str.split(" ").str[0]

In [60]:
missing_languages

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
132,Baraka,8.5,Ron Fricke,"Ron Fricke, Mark Magidson, Genevieve Nicholas",85.0,1993,United,NaN,"$1,346,497",1 hour 36 minutes
187,Samsara,8.4,Ron Fricke,"Ron Fricke, Mark Magidson",65.0,2012,United,NaN,"$4,426,444",1 hour 42 minutes
269,Man with a Movie Camera,8.3,Dziga Vertov,Dziga Vertov,96.0,1929,Soviet,NaN,"$3,959",1 hour 8 minutes
391,Napoléon vu par Abel Gance,8.2,Abel Gance,Abel Gance,80.0,1927,France,NaN,"$39,448",5 hours 30 minutes
431,Disclosure,8.2,Sam Feder,"Laverne Cox, Bianca Leigh, Jen Richards",79.0,2020,United,NaN,NaN,1 hour 48 minutes
597,The General,8.1,"Clyde Bruckman, Buster Keaton","Buster Keaton, Clyde Bruckman, Al Boasberg",85.0,1927,United,NaN,$612,1 hour 18 minutes
654,Valley Uprising,8.1,"Peter Mortimer, Nick Rosen, Josh Lowell","Peter Mortimer, Nick Rosen",85.0,2014,United,NaN,NaN,1 hour 43 minutes
656,The Crowd,8.1,King Vidor,"King Vidor, John V.A. Weaver, Joseph Farnham",85.0,1928,United,NaN,NaN,1 hour 38 minutes
899,The Last Laugh,8.0,F.W. Murnau,Carl Mayer,82.0,1925,Germany,NaN,NaN,1 hour 28 minutes
931,The Naked Island,8.0,Kaneto Shindô,Kaneto Shindô,82.0,1960,Japan,NaN,"$14,673",1 hour 36 minutes
1173,Love on a Leash,7.9,Fen Tian,Fen Tian,82.0,2011,United,NaN,NaN,1 hour 30 minutes
1525,Die Abenteuer des Prinzen Achmed,7.8,"Lotte Reiniger, Carl Koch",Lotte Reiniger,78.0,1928,Germany,NaN,"$100,156",1 hour 20 minutes
2110,Robot Dreams,7.6,Pablo Berger,"Pablo Berger, Sara Varon",87.0,2023,Spain,NaN,"$4,671,576",1 hour 43 minutes
2401,Strike,7.6,Sergei Eisenstein,"Grigoriy Aleksandrov, Sergei Eisenstein, Ilya ...",76.0,1925,Soviet,NaN,NaN,1 hour 22 minutes
2786,La tortue rouge,7.5,Michael Dudok de Wit,"Michael Dudok de Wit, Pascale Ferran",86.0,2016,France,NaN,"$6,613,503",1 hour 20 minutes
3039,Feels Good Man,7.5,Arthur Jones,"Giorgio Angelini, Matt Furie, Arthur Jones",79.0,2020,United,NaN,NaN,1 hour 32 minutes
3645,Oktyabr,7.4,"Grigoriy Aleksandrov, Sergei Eisenstein","Sergei Eisenstein, Grigoriy Aleksandrov, John ...",75.0,1928,Soviet,NaN,NaN,2 hours 22 minutes
4046,The Lodger: A Story of the London Fog,7.3,Alfred Hitchcock,"Marie Belloc Lowndes, Eliot Stannard, Alfred H...",72.0,1927,United,NaN,"$83,568",1 hour 32 minutes

In [61]:
country_to_language_dict = {
    "United": "English",
    "Soviet": "Russian",
    "France": "French",
    "Germany": "German",
    "Japan": "Japanese",
    "Spain": "Spanish"
}
missing_languages.loc[:, "Languages"] = missing_languages["Country of Origin"].apply(lambda country : country_to_language_dict.get(country))

In [62]:
missing_languages.loc[:, "Languages"]

132      English
187      English
269      Russian
391       French
431      English
597      English
654      English
656      English
899       German
931     Japanese
1173     English
1525      German
2110     Spanish
2401     Russian
2786      French
3039     English
3645     Russian
4046     English
Name: Languages, dtype: object

#### Replace Missing Languages in Original df

In [64]:
df.loc[missing_languages.index, "Languages"] = missing_languages["Languages"]

In [65]:
df.isna().sum()

Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore               0
Release Date            0
Country of Origin       0
Languages               0
Worldwide Gross      1092
Runtime                 0
dtype: int64

In [66]:
df.shape

(4986, 10)

### Worldwide Gross

In [68]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,1994,United States,English,"$29,332,133",2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",82.0,2024,Japan,Japanese,"$3,513,659",2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,1978,United States,"English, Italian, Latin","$250,342,198",2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",100.0,1975,Turkey,Turkish,NaN,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",100.0,2001,"India, Japan",English,NaN,2 hours 15 minutes

In [69]:
df.dtypes

Title                 object
Average Rating       float64
Director              object
Writer                object
Metascore            float64
Release Date           int32
Country of Origin     object
Languages             object
Worldwide Gross       object
Runtime               object
dtype: object

In [70]:
df["Worldwide Gross"].str.strip().str.replace(r"\d+", "", regex=True).unique()

array(['$,,', nan, '$,,,', '$,', '$', '₹,,'], dtype=object)

Some worldwide gross values appear in Rupees and will have to be converted to USD.

In [72]:
RUPEE_TO_USD = 0.012
rupee_gross = df[df["Worldwide Gross"].str.contains("₹", regex=False, na=False)]

In [73]:
rupee_gross

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
147,Aaranya Kaandam,8.5,Thiagarajan Kumararaja,Thiagarajan Kumararaja,85.0,2011,India,Tamil,"₹70,000,000",2 hours 6 minutes
153,Thalapathi,8.5,Mani Ratnam,"Mani Ratnam, Umesh Sharma",85.0,1991,"India, Philippines",Tamil,"₹106,000,000",2 hours 37 minutes
210,Mudhalvan,8.4,S. Shankar,"S. Shankar, Sujatha",83.0,1999,India,Tamil,"₹500,000,000",2 hours 49 minutes
212,Virumandi,8.4,Kamal Haasan,"H. Banerjee, Kamal Haasan",83.0,2021,India,Tamil,"₹476,950,000",2 hours 55 minutes
285,Premam,8.3,Alphonse Puthren,Alphonse Puthren,88.0,2015,India,Malayalam,"₹600,000,000",2 hours 36 minutes
305,Baasha,8.3,Suresh Krishna,"Suresh Krishna, Balakumaran, Gopal Ram",88.0,1995,India,Tamil,"₹250,000,000",2 hours 25 minutes
323,Alai Payuthey,8.3,Mani Ratnam,"Mani Ratnam, R. Selvaraj",88.0,2000,India,Tamil,"₹350,000,000",2 hours 36 minutes
458,Padayappa,8.2,K.S. Ravikumar,K.S. Ravikumar,80.0,1999,India,Tamil,"₹440,000,000",3 hours 1 minute
464,Drushyam,8.2,Sripriya,"Jeethu Joseph, Paruchuri Venkateswara Rao, Gop...",80.0,2014,India,Telugu,"₹200,000,000",2 hours 30 minutes
690,Maanagaram,8.1,Lokesh Kanagaraj,"Lokesh Kanagaraj, Karthik Yogi, Chandhru Anbaz...",85.0,2017,India,Tamil,"₹100,000,000",2 hours 17 minutes
966,Unnaipol Oruvan,8.0,Chakri Toleti,"Kamal Haasan, Ee. Raa. Murugan, Kaasi Nadimpalli",82.0,2009,India,"Tamil, Telugu, English, Malayalam","₹500,000,000",1 hour 42 minutes
2498,Khaleja,7.6,Trivikram Srinivas,"Trivikram Srinivas, Ravi Kiran",76.0,2010,India,Telugu,"₹180,800,000",2 hours 50 minutes
3520,Rangeela,7.4,Ram Gopal Varma,"H. Banerjee, Sanjay Chhel, Ram Gopal Varma",75.0,1995,India,Hindi,"₹334,412,500",2 hours 22 minutes
3605,Chachi 420,7.4,Kamal Haasan,"Gulzar, Kamal Haasan, Crazy Mohan",75.0,1997,India,Hindi,"₹200,706,250",2 hours 35 minutes
4540,Naanum Rowdydhaan,7.2,Vignesh Shivan,Vignesh Shivan,69.0,2015,India,Tamil,"₹550,000,000",2 hours 19 minutes
4931,Chandramukhi,7.2,P. Vasu,P. Vasu,69.0,2005,India,Tamil,"₹750,000,000",2 hours 46 minutes

In [74]:
df["Worldwide Gross"] = df["Worldwide Gross"].str.strip().str.replace("[$₹,]", "", regex=True)
df["Worldwide Gross"]

0        29332133
1         3513659
2       250342198
3             NaN
4             NaN
          ...
4984       290754
4985          NaN
4986     29893636
4987     17871370
4988       550031
Name: Worldwide Gross, Length: 4986, dtype: object

In [75]:
df["Worldwide Gross"] = df["Worldwide Gross"].astype(float)

In [76]:
df.dtypes

Title                 object
Average Rating       float64
Director              object
Writer                object
Metascore            float64
Release Date           int32
Country of Origin     object
Languages             object
Worldwide Gross      float64
Runtime               object
dtype: object

In [77]:
df.loc[rupee_gross.index, "Worldwide Gross"] = df.loc[rupee_gross.index, "Worldwide Gross"] * RUPEE_TO_USD

In [78]:
df.loc[rupee_gross.index, :]

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
147,Aaranya Kaandam,8.5,Thiagarajan Kumararaja,Thiagarajan Kumararaja,85.0,2011,India,Tamil,840000.0,2 hours 6 minutes
153,Thalapathi,8.5,Mani Ratnam,"Mani Ratnam, Umesh Sharma",85.0,1991,"India, Philippines",Tamil,1272000.0,2 hours 37 minutes
210,Mudhalvan,8.4,S. Shankar,"S. Shankar, Sujatha",83.0,1999,India,Tamil,6000000.0,2 hours 49 minutes
212,Virumandi,8.4,Kamal Haasan,"H. Banerjee, Kamal Haasan",83.0,2021,India,Tamil,5723400.0,2 hours 55 minutes
285,Premam,8.3,Alphonse Puthren,Alphonse Puthren,88.0,2015,India,Malayalam,7200000.0,2 hours 36 minutes
305,Baasha,8.3,Suresh Krishna,"Suresh Krishna, Balakumaran, Gopal Ram",88.0,1995,India,Tamil,3000000.0,2 hours 25 minutes
323,Alai Payuthey,8.3,Mani Ratnam,"Mani Ratnam, R. Selvaraj",88.0,2000,India,Tamil,4200000.0,2 hours 36 minutes
458,Padayappa,8.2,K.S. Ravikumar,K.S. Ravikumar,80.0,1999,India,Tamil,5280000.0,3 hours 1 minute
464,Drushyam,8.2,Sripriya,"Jeethu Joseph, Paruchuri Venkateswara Rao, Gop...",80.0,2014,India,Telugu,2400000.0,2 hours 30 minutes
690,Maanagaram,8.1,Lokesh Kanagaraj,"Lokesh Kanagaraj, Karthik Yogi, Chandhru Anbaz...",85.0,2017,India,Tamil,1200000.0,2 hours 17 minutes
966,Unnaipol Oruvan,8.0,Chakri Toleti,"Kamal Haasan, Ee. Raa. Murugan, Kaasi Nadimpalli",82.0,2009,India,"Tamil, Telugu, English, Malayalam",6000000.0,1 hour 42 minutes
2498,Khaleja,7.6,Trivikram Srinivas,"Trivikram Srinivas, Ravi Kiran",76.0,2010,India,Telugu,2169600.0,2 hours 50 minutes
3520,Rangeela,7.4,Ram Gopal Varma,"H. Banerjee, Sanjay Chhel, Ram Gopal Varma",75.0,1995,India,Hindi,4012950.0,2 hours 22 minutes
3605,Chachi 420,7.4,Kamal Haasan,"Gulzar, Kamal Haasan, Crazy Mohan",75.0,1997,India,Hindi,2408475.0,2 hours 35 minutes
4540,Naanum Rowdydhaan,7.2,Vignesh Shivan,Vignesh Shivan,69.0,2015,India,Tamil,6600000.0,2 hours 19 minutes
4931,Chandramukhi,7.2,P. Vasu,P. Vasu,69.0,2005,India,Tamil,9000000.0,2 hours 46 minutes

I will use the method I used for calculating the metascore in my previous work to convert the NA worldwide gross values to relatively accurate representations by taking the median worldwide gross of other movies of the same year. I believe this is best due to inflation. Trying to use the rating or metascore wouldn't work due to the drastic discrepancies in the movie's release dates.

In [80]:
df["Worldwide Gross"].isna().sum()

1092

In [81]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,1994,United States,English,29332133.0,2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",82.0,2024,Japan,Japanese,3513659.0,2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,1978,United States,"English, Italian, Latin",250342198.0,2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",100.0,1975,Turkey,Turkish,NaN,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",100.0,2001,"India, Japan",English,NaN,2 hours 15 minutes

In [82]:
gross_medians = df.groupby("Release Date")["Worldwide Gross"].median()
gross_medians

Release Date
1915           NaN
1916           NaN
1919           NaN
1920        9297.0
1921           NaN
           ...
2020    25211175.0
2021     7527030.0
2022     3253561.5
2023     4609670.5
2024     6600000.0
Name: Worldwide Gross, Length: 108, dtype: float64

In [83]:
gross_medians[pd.isna(gross_medians)]

Release Date
1915   NaN
1916   NaN
1919   NaN
1921   NaN
1926   NaN
Name: Worldwide Gross, dtype: float64

These will have to be filled with the median of the surround values.

In [85]:
df.sort_values("Release Date").head(50)

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
4135,Les vampires,7.3,Louis Feuillade,Louis Feuillade,72.0,1915,France,"None, French, English",NaN,7 hours 1 minute
1828,Intolerance,7.7,D.W. Griffith,"Hettie Grey Baker, Tod Browning, D.W. Griffith",99.0,1916,United States,English,NaN,2 hours 43 minutes
4927,Broken Blossoms or The Yellow Man and the Girl,7.2,D.W. Griffith,"Thomas Burke, D.W. Griffith",69.0,1919,United States,English,NaN,1 hour 30 minutes
4257,Way Down East,7.3,D.W. Griffith,"Lottie Blair Parker, William A. Brady, Joseph ...",72.0,1920,United States,English,NaN,2 hours 25 minutes
806,Das Cabinet des Dr. Caligari,8.0,Robert Wiene,"Carl Mayer, Hans Janowitz",82.0,1920,Germany,German,9297.0,1 hour 16 minutes
4898,"Der Golem, wie er in die Welt kam",7.2,"Paul Wegener, Carl Boese","Paul Wegener, Henrik Galeen",69.0,1921,Germany,German,NaN,1 hour 16 minutes
883,Körkarlen,8.0,Victor Sjöström,"Selma Lagerlöf, Victor Sjöström",82.0,1921,Sweden,"None, Swedish",NaN,1 hour 47 minutes
1290,Nosferatu,7.8,F.W. Murnau,"Bram Stoker, Henrik Galeen",78.0,1922,Germany,"German, English",45595.0,1 hour 34 minutes
4328,Orphans of the Storm,7.3,D.W. Griffith,"Adolphe d'Ennery, Eugène Cormon, D.W. Griffith",72.0,1922,United States,English,NaN,2 hours 30 minutes
2360,Nanook of the North,7.6,Robert J. Flaherty,"Frances H. Flaherty, Robert J. Flaherty",76.0,1922,"France, United States",English,NaN,1 hour 18 minutes
2172,Häxan: Witchcraft Through the Ages,7.6,Benjamin Christensen,Benjamin Christensen,76.0,1922,"Sweden, Denmark","Swedish, Danish",NaN,1 hour 31 minutes
2400,Der müde Tod,7.6,Fritz Lang,"Fritz Lang, Thea von Harbou",76.0,1922,Germany,German,12156.0,1 hour 37 minutes
1488,"Dr. Mabuse, der Spieler",7.8,Fritz Lang,"Norbert Jacques, Thea von Harbou, Fritz Lang",78.0,1922,Germany,"German, English, French",NaN,4 hours 2 minutes
4872,The Hunchback of Notre Dame,7.2,Wallace Worsley,"Victor Hugo, Perley Poore Sheehan, Edward T. L...",69.0,1923,United States,English,NaN,2 hours 13 minutes
640,Safety Last!,8.1,"Fred C. Newmeyer, Sam Taylor","Hal Roach, Sam Taylor, Tim Whelan",85.0,1923,United States,English,NaN,1 hour 14 minutes
1547,Our Hospitality,7.8,"John G. Blystone, Buster Keaton","Jean C. Havez, Clyde Bruckman, Joseph A. Mitchell",78.0,1923,United States,"None, English",248.0,1 hour 5 minutes
413,Sherlock Jr.,8.2,Buster Keaton,"Jean C. Havez, Joseph A. Mitchell, Clyde Bruckman",80.0,1924,United States,"None, English",399.0,45 minutes
2991,The Navigator,7.5,"Donald Crisp, Buster Keaton","Clyde Bruckman, Joseph A. Mitchell, Jean C. Havez",74.0,1924,United States,English,NaN,59 minutes
1224,Die Nibelungen: Kriemhilds Rache,7.9,Fritz Lang,Thea von Harbou,82.0,1924,Germany,German,NaN,2 hours 9 minutes
630,Die Nibelungen: Siegfried,8.1,Fritz Lang,"Fritz Lang, Thea von Harbou",85.0,1924,Germany,German,NaN,2 hours 23 minutes
1882,The Thief of Bagdad,7.7,Raoul Walsh,"Lotta Woods, Douglas Fairbanks, Achmed Abdullah",77.0,1924,United States,English,NaN,2 hours 35 minutes
857,Greed,8.0,Erich von Stroheim,"June Mathis, Erich von Stroheim, Frank Norris",82.0,1925,United States,"None, English",NaN,2 hours 20 minutes
1540,Seven Chances,7.8,Buster Keaton,"Roi Cooper Megrue, Clyde Bruckman, Jean C. Havez",78.0,1925,United States,"None, English",268.0,56 minutes
2747,The Phantom of the Opera,7.5,"Rupert Julian, Lon Chaney, Ernst Laemmle","Gaston Leroux, Walter Anthony, Elliott J. Clawson",74.0,1925,United States,English,4360000.0,1 hour 33 minutes
1091,Battleship Potemkin,7.9,Sergei Eisenstein,"Nina Agadzhanova, Sergei Eisenstein, Grigoriy ...",97.0,1925,Soviet Union,"None, Russian, English",61389.0,1 hour 15 minutes
2401,Strike,7.6,Sergei Eisenstein,"Grigoriy Aleksandrov, Sergei Eisenstein, Ilya ...",76.0,1925,Soviet Union,Russian,NaN,1 hour 22 minutes
899,The Last Laugh,8.0,F.W. Murnau,Carl Mayer,82.0,1925,Germany,German,NaN,1 hour 28 minutes
3030,The Freshman,7.5,"Fred C. Newmeyer, Sam Taylor","Sam Taylor, Ted Wilde, John Grey",74.0,1925,United States,"None, English",NaN,1 hour 17 minutes
603,The Gold Rush,8.1,Charles Chaplin,Charles Chaplin,85.0,1925,United States,"None, English",31490.0,1 hour 35 minutes
1203,The Big Parade,7.9,"King Vidor, George W. Hill","Laurence Stallings, Harry Behn, Joseph Farnham",82.0,1925,United States,"None, English, French",NaN,2 hours 31 minutes
611,Faust,8.1,F.W. Murnau,"Gerhart Hauptmann, Hans Kyser, Johann Wolfgang...",85.0,1926,Germany,"German, English",NaN,1 hour 47 minutes
1467,Ben-Hur A Tale of the Christ,7.8,"Fred Niblo, Charles Brabin, Christy Cabanne","Lew Wallace, June Mathis, Carey Wilson",78.0,1927,United States,"None, English",NaN,2 hours 23 minutes
1854,The Unknown,7.7,Tod Browning,"Tod Browning, Waldemar Young, Joseph Farnham",77.0,1927,United States,"None, English",4841.0,1 hour 8 minutes
4046,The Lodger: A Story of the London Fog,7.3,Alfred Hitchcock,"Marie Belloc Lowndes, Eliot Stannard, Alfred H...",72.0,1927,United Kingdom,English,83568.0,1 hour 32 minutes
594,Sunrise: A Song of Two Humans,8.1,F.W. Murnau,"Carl Mayer, Hermann Sudermann, Katherine Hilliker",95.0,1927,United States,"None, English",121848.0,1 hour 34 minutes
597,The General,8.1,"Clyde Bruckman, Buster Keaton","Buster Keaton, Clyde Bruckman, Al Boasberg",85.0,1927,United States,English,612.0,1 hour 18 minutes
391,Napoléon vu par Abel Gance,8.2,Abel Gance,Abel Gance,80.0,1927,France,French,39448.0,5 hours 30 minutes
251,Metropolis,8.3,Fritz Lang,"Thea von Harbou, Fritz Lang",98.0,1927,Germany,"German, English",1350322.0,2 hours 33 minutes
903,The Wind,8.0,Victor Sjöström,"Frances Marion, Dorothy Scarborough, John Colton",82.0,1928,United States,"None, English",NaN,1 hour 35 minutes
641,The Circus,8.1,Charles Chaplin,Charles Chaplin,90.0,1928,United States,"None, English",31718.0,1 hour 12 minutes
1525,Die Abenteuer des Prinzen Achmed,7.8,"Lotte Reiniger, Carl Koch",Lotte Reiniger,78.0,1928,Germany,German,100156.0,1 hour 20 minutes
3645,Oktyabr,7.4,"Grigoriy Aleksandrov, Sergei Eisenstein","Sergei Eisenstein, Grigoriy Aleksandrov, John ...",75.0,1928,Soviet Union,Russian,NaN,2 hours 22 minutes
898,The Cameraman,8.0,"Edward Sedgwick, Buster Keaton","Clyde Bruckman, Lew Lipton, Joseph Farnham",82.0,1928,United States,"None, English",698.0,1 hour 16 minutes
656,The Crowd,8.1,King Vidor,"King Vidor, John V.A. Weaver, Joseph Farnham",85.0,1928,United States,English,NaN,1 hour 38 minutes
1515,"Steamboat Bill, Jr.",7.8,"Charles Reisner, Buster Keaton","Carl Harbaugh, Buster Keaton",78.0,1928,United States,English,NaN,1 hour 10 minutes
2261,The Man Who Laughs,7.6,Paul Leni,"Victor Hugo, J. Grubb Alexander, Walter Anthony",76.0,1928,United States,English,4347.0,1 hour 50 minutes
584,La passion de Jeanne d'Arc,8.1,Carl Theodor Dreyer,"Joseph Delteil, Carl Theodor Dreyer",98.0,1928,France,"None, French",22731.0,1 hour 50 minutes
3013,The Docks of New York,7.5,Josef von Sternberg,"Jules Furthman, John Monk Saunders, Julian Joh...",74.0,1928,United States,English,NaN,1 hour 16 minutes
2729,Wings,7.5,"William A. Wellman, Harry d'Abbadie d'Arrast","John Monk Saunders, Hope Loring, Louis D. Lighton",78.0,1929,United States,English,1684.0,2 hours 24 minutes
269,Man with a Movie Camera,8.3,Dziga Vertov,Dziga Vertov,96.0,1929,Soviet Union,Russian,3959.0,1 hour 8 minutes

In [86]:
df.dtypes

Title                 object
Average Rating       float64
Director              object
Writer                object
Metascore            float64
Release Date           int32
Country of Origin     object
Languages             object
Worldwide Gross      float64
Runtime               object
dtype: object

In [87]:
old_movie_median = df[df["Release Date"] < 1927]["Worldwide Gross"].median()
old_movie_median

12156.0

In [88]:
gross_medians.fillna(old_movie_median, inplace=True)

In [89]:
gross_medians.isna().sum()

0

In [90]:
gross_medians

Release Date
1915       12156.0
1916       12156.0
1919       12156.0
1920        9297.0
1921       12156.0
           ...
2020    25211175.0
2021     7527030.0
2022     3253561.5
2023     4609670.5
2024     6600000.0
Name: Worldwide Gross, Length: 108, dtype: float64

In [91]:
df["Worldwide Gross"] = df.apply(lambda row : gross_medians[row["Release Date"]] if pd.isna(row["Worldwide Gross"]) else row["Worldwide Gross"], axis=1)

In [92]:
df["Worldwide Gross"].isna().sum()

0

In [93]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,1994,United States,English,29332133.0,2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",82.0,2024,Japan,Japanese,3513659.0,2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,1978,United States,"English, Italian, Latin",250342198.0,2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",100.0,1975,Turkey,Turkish,66424.5,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",100.0,2001,"India, Japan",English,8211964.5,2 hours 15 minutes

In [94]:
df.isna().sum()

Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Release Date         0
Country of Origin    0
Languages            0
Worldwide Gross      0
Runtime              0
dtype: int64

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4986 entries, 0 to 4988
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              4986 non-null   object
 1   Average Rating     4986 non-null   float64
 2   Director           4986 non-null   object
 3   Writer             4986 non-null   object
 4   Metascore          4986 non-null   float64
 5   Release Date       4986 non-null   int32
 6   Country of Origin  4986 non-null   object
 7   Languages          4986 non-null   object
 8   Worldwide Gross    4986 non-null   float64
 9   Runtime            4986 non-null   object
dtypes: float64(3), int32(1), object(6)
memory usage: 538.0+ KB

## Export Cleaned Dataset

In [97]:
df.reset_index(drop=True, inplace=True)

In [98]:
df.tail()

,Title,Average Rating,Director,Writer,Metascore,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime
4981,La comunidad,7.2,Álex de la Iglesia,"Jorge Guerricaechevarría, Álex de la Iglesia",69.0,2000,Spain,Spanish,290754.0,1 hour 50 minutes
4982,The House of Fear,7.2,Roy William Neill,"Roy Chanslor, Arthur Conan Doyle",69.0,1945,United States,English,24113.0,1 hour 9 minutes
4983,Kurôzu zero II,7.2,Takashi Miike,"Hiroshi Takahashi, Shôgo Mutô",69.0,2009,Japan,Japanese,29893636.0,2 hours 13 minutes
4984,La cage dorée,7.2,Ruben Alves,"Ruben Alves, Luc-Olivier Veuve, Jean-André Yerlès",69.0,2013,France,"French, Portuguese, English",17871370.0,1 hour 30 minutes
4985,Chingoo,7.2,Kwak Kyung-taek,Kwak Kyung-taek,69.0,2001,South Korea,Korean,550031.0,1 hour 53 minutes

In [99]:
df.shape

(4986, 10)

In [100]:
df.to_csv("Cleaned-IMDB-Movies-Dataset.csv", index=False)

## Conclusion

In its original state, the IDMB dataset was unsuitable for performing meaningful analysis. I saw this dataset and thought there was a lot of potential here, as it's full of great information. That information just needed to be transformed and cleaned for analysis to be performed effectively. In this project, I produced a much more suitable dataset that can be used for future analysis by removing useless data, transforming NA values, and converting specific columns to different data types. The cleaning was also done using techniques to minimize data deletion while still providing accurate data for filling NA values. The methods that I used are laid out in my work, and I believe the dataset is much better off after my cleaning than it was in its original state.